body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -5px 10px 20px -15px #000000;
    z-index: 1;
}

.header-menu {
    background-color: #ffffff;
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-content hr {
    border: 1px solid #3774bd;
    width: 40px;
    margin-left: 10px;
}

.title-content {
    margin-left: 10px;
    color: #3774bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-content p {
    font-size: 26px;
    color: #3774bd;
    padding: 0;
}

.title-content #title {
    font-family: "Roboto 700 bold", sans-serif !important;
    font-weight: bold !important;
}

.title-content #subtitle {
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400 !important;
}

.menu-content {
    width: 60%;
}

.menu-content ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-content ul a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    color: #3774bd;
}

.menu-content ul a:hover {
    text-decoration: underline;
}
.contact-container {
    margin-top: 7em;
}

.contact-container .folder {
    width: 100%;
    height: 10em;
    margin-top: 2em;
    background-color: #3774bd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.folder p {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 4em;
}

.info {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 4em;
}

.info-description {
    width: 50%;
    box-shadow: -5px 10px 20px -15px #000000;
    border-radius: 5px;
    height: 200px;
}

.info-description h2 {
    font-family: "Roboto 700 bold", sans-serif !important;
    font-weight: bold !important;
    height: 2em;
    color: #ffffff;
    width: 100%;
    padding-top: 15px;
    background-color: #3774bd;
    border-radius: 5px 5px 0 0;
    text-align: center;
}


.info-description ul {
    font-family: "Roboto", sans-serif;
    color: #3774bd;
    text-align: center;
    list-style: none;
}

.info-description ul li{
    font-size: 16px;
    margin: 10px 0;
}

.info-description ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #3774bd;
}

.info-description ul li a:hover{
    text-decoration: underline;
}